html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #151515;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  top: 0;
  left: 0;
  width: 1440px;
  max-width: 100%;
  height: 100vh;
  min-height: stretch;
  margin: 0 auto;
  padding: 0rem 2rem;

  .timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 3px;
    z-index: 1;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
    height: 16%;
    z-index: 10;

    .logo {
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      transition: 0.25s ease-out;
      z-index: 5;

      &.active {
        color: #fff;
      }
    }

    .burger {
      display: flex;
      flex-direction: column;
      width: 24px;
      cursor: pointer;
      z-index: 10;

      &.active {
        & span {
          background: #fff;
        }
      }
    }

    label span {
      background: #151515;
      border-radius: 10px;
      height: 2px;
      margin: 2px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(2px, 0px);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(10px, -2px) rotatez(45deg);
    }
  }

  .menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #242424;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-out;
    z-index: 1;

    &.active {
      opacity: 0.9;
      visibility: visible;
    }

    ul {
      list-style: none;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 1.2px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;

      li {
        margin-bottom: 2rem;
      }

      .menu-item {
        opacity: 0;
      }
    }
  }

  .scroll-container {
    position: relative;
    width: 100%;
    height: 66%;
    border-radius: 2px;
    overflow: hidden;

    .scroll-inner {
      position: relative;
      display: flex;
      width: 300%;
      height: 100%;

      .scroll-item {
        position: relative;
        display: flex;
        width: calc(100% / 3);
        height: 100%;

        .item-inner {
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translateY(-50%);
          color: #fff;

          .inner-title {
            overflow: hidden;

            h2 {
              font-size: 3.2vw;
              font-weight: 900;
              letter-spacing: -0.5px;
              text-transform: uppercase;
              transform: translateY(100%);
              transition: 0.6s ease-out;
              transition-delay: 0.1s;
            }
          }

          .inner-description {
            padding-top: 8px;
            overflow: hidden;

            p {
              font-size: 1vw;
              transform: translateY(100%);
              transition: 0.6s ease-out;
              transition-delay: 0.1s;
            }
          }

          .inner-button {
            padding-top: 1.5rem;
            overflow: hidden;

            .link {
              display: inline-block;
              padding: 12px 24px;
              background: #fff;
              font-size: 12px;
              font-weight: 700;
              text-transform: uppercase;
              color: #151515;

              transform: translateY(100%);
              transition: 0.6s ease-out;
              transition-delay: 0.1s;
            }
          }
        }

        img {
          width: 100%;
          object-fit: cover;
          filter: brightness(0.8);
          transform: translateY(0%);
          z-index: -1;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 64px;
      background-color: #fff;
      transition: 0.2s ease;
      cursor: pointer;

      svg {
        stroke-width: 1px;
      }
    }

    .forw {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    .back {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      svg {
        transform: rotate(180deg);
        transform-origin: center center;
      }
    }

    .count {
      position: absolute;
      display: flex;
      align-items: baseline;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.2s ease-in-out;

      .count-item {
        width: 1px;
        height: 24px;
        margin-right: 6px;
        background-color: #fff;
        opacity: 0.5;
        transition: 0.2s ease-in-out;

        &.active {
          opacity: 1;
          height: 28px;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
    height: 16%;
    font-size: 14px;

    span {
      color: #999;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      z-index: 1;
    }

    .social-icons {
      display: flex;
      align-items: center;
      color: #151515;
      z-index: 5;

      &.active {
        .social-icon {
          color: #fff;
          transition: 0.25s ease-out;
        }
      }

      .social-icon {
        margin-right: 1.5rem;

        transform: scale(1.1);
        transform-origin: center center;

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
  }
}
